/* Google fonts import  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* root styling */
:root {
--background: beige;
--primary-color: #008080;
--font-size: 14px;
--header-size: 110%;
}

/* Universal code */
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/* General styling */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    font-family: 'Montserrat', sans-serif;
}
 
/* header section */
header{
    background-color: var(--background);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
    font-size: 2rem;
    color: #008080;
}

.logo {
    width: 100px; /* Set the desired width of the container */
    height: 100px; /* Set the desired height of the container */
    object-fit:contain;
    border: 1px solid red;
    position: relative;

}
.nav-list {
    font-size: var(--header-size);
    font-weight: 500;
    letter-spacing: 3px;
    list-style-type: none;
    text-transform:uppercase;

}

.nav-list a {
    text-decoration: none;
}

.nav-list >li {
    margin-bottom: 1em;
}

.active {
    border-left: 4px solid #008080;
    
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background: var(--background);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle {
    display: none;
}

/* main section */
main {
    background-color: var(--primary-color);
    flex: 1 0 auto;
    margin-top: 100px;
}

footer {
    background-color: aquamarine;
}

