/* Google fonts import  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* root styling */
:root {
--background: beige;
--primary-color: #008080;
--secondary-color: #483D8B;
--font-size: 14px;
--header-size: 110%;
}

/* Universal code */
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/* General styling */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    font-family: 'Montserrat', sans-serif;
}
 
/* header section */
header{
    background-color: var(--background);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-solid {
    font-size: 2rem;
    color: #008080;
}

.logo {
    width: 100px; /* Set the desired width of the container */
    height: 100px; /* Set the desired height of the container */
    object-fit:contain;
    border: 1px solid red;
    position: relative;

}
.nav-list {
    font-size: var(--header-size);
    font-weight: 500;
    letter-spacing: 3px;
    list-style-type: none;
    text-transform:uppercase;

}

.nav-list a {
    text-decoration: none;
}

.nav-list >li {
    margin-bottom: 1em;
}

.active {
    border-left: 4px solid #008080;
    
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: 5px 2px;
    background-color: var(--background);
    letter-spacing: .2em;
}
footer i {
    padding-left: 1rem;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background: var(--background);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #3a3a3a;
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav{
    display: block;
}

#nav-toggle {
    display: none;
}


/* main section */
main {
    background-color: var(--primary-color);
    flex: 1 0 auto;
    margin-top: 100px;
}

footer {
    background-color: aquamarine;
}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width: 768px) {
    /* Header section*/
    
    Header {
        justify-content:space-around;

    }
    
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        /* padding-right: 1rem; */
    }
    
    .nav-list {
        display: flex;
    }

    .nav-list > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .logo {
        font-size: 5rem;
        line-height: 75px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {
 
      nav ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #aaa;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 10px;
      }
      nav ul li a,
      nav ul li a:after,
      nav ul li a:before {
        transition: all .5s;
      }
      nav ul li a:hover {
        color: var(--secondary-color);
      }
      
      
      /* stroke */
      nav.nav-animation ul li a {
        position: relative;
      }
      nav.nav-animation ul li a:after {
        position: absolute;
           bottom: 0;
           left: 0; /* Adjust as needed to position the underline */
           width: 0; /* Adjust to underline only a small portion of the anchor link */
           content: '';
           color: transparent;
           background: var(--primary-color);
           height: 4px; /* Adjust to make the underline slightly thicker */
           transition: width 0.4s; /* Add transition effect for smoother animation */
       }
       nav.nav-animation ul li a:hover:after {
         width: 80%;
       }
      
}